apiVersion: v1
kind: Service
metadata:
  name: my-app-service
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  selector:
    app: my-app
  type: LoadBalancer
  loadBalancerSourceRanges:
    - 88.196.208.91/32
